<div class="hero">
    <h1>The Prod Shop</h1>
    <h2>wake up everyday and create awesome</h2>
</div>
<div class="container">
    <div class="copy row">
        <div class="col-sm-4">
            <img src="https://collabcubed.files.wordpress.com/2012/10/high-trestle-trail-bridge_kevin_eberle_booneiowa_collabcubed.jpg"/>
            <p><strong>Why is Product Management Important?</strong></p> 
            <p>Product Management is the difference between a good product and a great product. Even the most boring product has a fan somewhere because they need it.  Product management isn't about the product, but what that product does or enables other things to do.  Our goal as Product Managers is to connect the product and the user.
            </p>
        </div>
        <div class="col-sm-4">
            <img src="https://pubpages.unh.edu/~wsk4/media/kingsnake.jpg"/>
            <p><strong>Important Qualities of Product Manager</strong></p>  
            <p>Curiosity. Even temperment.  Independent - don't micromanage, require and desire agency, ownership.  Must like your product.   
            </p>
        </div>
        <div class="col-sm-4">
            <img src="http://assets.kitchendaily.com/styles/large/s3/field/image/baking-ingredients-FotografiaBasica.jpg?itok=Px7nVyuk"/>
            <p><strong>Skills Needed for Product Management</strong></p>
            <p>Technical enough, business oriented, communication, plus domain knowledge 
            </p>
        </div>
    </div>
<div class="content">
    <p class="long-content">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, voluptatibus, laboriosam corrupti nisi architecto eligendi. Placeat, labore, fuga accusantium hic rerum ea atque unde quisquam possimus nostrum. Amet, consequuntur, incidunt, ut iure deserunt ipsum praesentium dolorum modi soluta enim provident dolore voluptatum odit eos hic culpa cumque. Eum, ad, minima sapiente nisi unde tempora mollitia laudantium accusantium pariatur neque ipsa ullam nesciunt officia laboriosam eius deleniti facere soluta amet expedita nihil. Corrupti, fugit, tempora, ducimus, quisquam in minima mollitia ullam nam nihil obcaecati sequi neque voluptas aliquam nulla beatae totam eaque tenetur dolorum a harum atque sapiente molestias officiis! Doloribus!
    
    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error pariatur officia illum! Illo, accusamus totam dignissimos consectetur voluptatem consequuntur saepe explicabo esse maiores aut! Vero eum sequi natus labore debitis error est aspernatur! Atque magnam facilis non consequatur dolores ipsum a. Et, omnis, illo, at quo quis quaerat eius quos est reprehenderit dolore ipsa esse explicabo labore consequuntur maxime nesciunt cupiditate fuga vitae nihil optio commodi provident suscipit ea minima voluptatum vero id cum deleniti quibusdam aut sequi accusamus ullam impedit sint delectus numquam sapiente. Quasi, corrupti tempora iusto repellendus maiores. Adipisci ipsum sint fugit delectus vel at architecto facere distinctio nulla tempore. Accusantium, rerum, molestias asperiores expedita officia doloribus quis quae minima quidem libero perferendis iure beatae deleniti dicta magni voluptatibus esse inventore incidunt eos soluta similique error impedit tempore quasi quaerat? Quis, aspernatur, tempora rerum repudiandae officiis ea animi commodi! Culpa fuga odio modi nisi a vero aliquam. Deserunt, quo, distinctio, blanditiis, cum harum vero repellat assumenda ratione atque ullam natus corrupti alias quibusdam eligendi inventore et nesciunt explicabo tempora ea incidunt unde dolor repellendus. Repellendus, similique, consectetur adipisci voluptatibus explicabo ex eligendi quia inventore quisquam aliquid aliquam dignissimos totam animi at neque atque illo quo modi non.
    </span>
    /p>
    <p><div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, qui nobis harum esse ducimus unde officia culpa ratione natus laudantium fuga eveniet soluta modi asperiores omnis inventore accusamus adipisci consectetur.</div>
    <div>Corrupti, repellendus mollitia dolore fugiat voluptatem a harum! Voluptatem, dolores, ad, magnam tempora quas fugiat assumenda nihil expedita totam optio aliquam vero minus id soluta incidunt quidem ipsam. Debitis, non.</div>
    <div>Ratione, ad aperiam doloribus in nesciunt officiis sunt incidunt veniam cumque inventore laudantium ex aliquam eos vitae nisi magni neque. Velit aperiam quos animi ipsum ullam incidunt totam commodi quas.</div>
    <div>Doloremque, mollitia labore eius pariatur sunt molestias odit natus dicta debitis quod! Voluptates, sunt, neque possimus et reprehenderit dolor expedita? Ullam, totam voluptatem suscipit possimus aut perspiciatis laboriosam labore iure?</div>
    <div>Ut, assumenda, sint, magnam, eaque non ipsa impedit maxime doloribus eveniet sit consequuntur ipsam ullam enim nam ipsum porro ducimus inventore obcaecati eum delectus fugit nostrum soluta repudiandae consequatur expedita.</div></p>
</div>



